<a href="https://colab.research.google.com/github/2303a51404/Data-Mining/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv('/content/wine_data.csv')

one_hot_encoded = pd.get_dummies(data['quality'], prefix='quality')
data = pd.concat([data, one_hot_encoded], axis=1)

label_encoder = LabelEncoder()
data['quality_label'] = label_encoder.fit_transform(data['quality'])

print("One-Hot Encoded Data (First 5 Rows):")
print(data.head())

One-Hot Encoded Data (First 5 Rows):
   fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
0           11.6             0.580         0.66            2.20      0.074
1           10.4             0.610         0.49            2.10      0.200
2            7.4             1.185         0.00            4.25      0.097
3           10.4             0.440         0.42            1.50      0.145
4            8.3             1.020         0.02            3.40      0.084

   free_sulfur_dioxide  total_sulfur_dioxide  density    pH  sulphates  \
0                 10.0                  47.0  1.00080  3.25       0.57
1                  5.0                  16.0  0.99940  3.16       0.63
2                  5.0                  14.0  0.99660  3.63       0.54
3                 34.0                  48.0  0.99832  3.38       0.86
4                  6.0                  11.0  0.99892  3.48       0.49

   alcohol  quality  quality_3  quality_4  quality_5  quality_6  quality_7  \
0      9.0        3       True      False      False      False      False
1      8.4        3       True      False      False      False      False
2     10.7        3       True      False      False      False      False
3      9.9        3       True      False      False      False      False
4     11.0        3       True      False      False      False      False

   quality_8  quality_9  quality_label
0      False      False              0
1      False      False              0
2      False      False              0
3      False      False              0
4      False      False              0

In [4]:
import pandas as pd



data['density_to_alcohol'] = data['density'] / data['alcohol']

print("Data with Derived Column (First 5 Rows):")
print(data.head())

Data with Derived Column (First 5 Rows):
   fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
0           11.6             0.580         0.66            2.20      0.074
1           10.4             0.610         0.49            2.10      0.200
2            7.4             1.185         0.00            4.25      0.097
3           10.4             0.440         0.42            1.50      0.145
4            8.3             1.020         0.02            3.40      0.084

   free_sulfur_dioxide  total_sulfur_dioxide  density    pH  sulphates  ...  \
0                 10.0                  47.0  1.00080  3.25       0.57  ...
1                  5.0                  16.0  0.99940  3.16       0.63  ...
2                  5.0                  14.0  0.99660  3.63       0.54  ...
3                 34.0                  48.0  0.99832  3.38       0.86  ...
4                  6.0                  11.0  0.99892  3.48       0.49  ...

   quality  quality_3  quality_4  quality_5  quality_6  quality_7  quality_8  \
0        3       True      False      False      False      False      False
1        3       True      False      False      False      False      False
2        3       True      False      False      False      False      False
3        3       True      False      False      False      False      False
4        3       True      False      False      False      False      False

   quality_9  quality_label  density_to_alcohol
0      False              0            0.111200
1      False              0            0.118976
2      False              0            0.093140
3      False              0            0.100840
4      False              0            0.090811

[5 rows x 21 columns]

In [5]:
grouped_data = data.groupby('quality')['alcohol'].mean()
pivot_table = data.pivot_table(values='sulphates', index='quality', columns='citric_acid', aggfunc='mean')

print("Grouped Data (Average Alcohol by Quality):")
print(grouped_data)
print("\nPivot Table (Mean Sulphates by Quality and Citric Acid):")
print(pivot_table)

Grouped Data (Average Alcohol by Quality):
quality
3    11.624750
4    11.553267
5    10.371093
6    10.646033
7    11.619100
8    11.595200
9    11.632567
Name: alcohol, dtype: float64

Pivot Table (Mean Sulphates by Quality and Citric Acid):
citric_acid      0.00      0.01      0.02      0.03      0.04      0.05  \
quality
3            0.483333       NaN  0.560000       NaN       NaN  0.535000
4            0.489375  0.580000  0.617500  0.482500  0.466667  0.440000
5            0.559355  0.547333  0.588889  0.505556  0.551053  0.532500
6            0.645968  0.561250  0.601429  0.597143  0.634615  0.605556
7            0.668750  0.662500  0.732500  0.560000  0.620000       NaN
8                 NaN       NaN       NaN  0.820000  0.330000  0.820000
9                 NaN       NaN       NaN       NaN       NaN       NaN

citric_acid     0.06      0.07      0.08      0.09  ...      1.50      1.51  \
quality                                             ...
3                NaN       NaN       NaN       NaN  ...  1.274000  1.325000
4            0.53500  0.450000  0.510000  0.560000  ...  1.361667  1.075714
5            0.51375  0.511667  0.528235  0.538333  ...       NaN       NaN
6            0.64100  0.619231  0.632000  0.557857  ...       NaN       NaN
7            0.59000  0.680000  0.785000  0.666000  ...  1.435000       NaN
8                NaN       NaN       NaN  0.740000  ...       NaN  1.215556
9                NaN       NaN       NaN       NaN  ...  1.174000  1.410000

citric_acid   1.52   1.53      1.54   1.55  1.57  1.58  1.59  1.66
quality
3            1.165    NaN  1.280000    NaN   NaN   NaN   NaN   NaN
4              NaN  1.090  1.420000    NaN   NaN  1.17   NaN   NaN
5            1.180    NaN       NaN  1.240   NaN   NaN   NaN   NaN
6              NaN    NaN       NaN    NaN   NaN   NaN   NaN  0.55
7              NaN  1.470  1.160000    NaN  1.02   NaN   NaN   NaN
8            1.350  1.265       NaN  1.130   NaN   NaN  1.41   NaN
9            1.670    NaN  1.163333  1.408   NaN   NaN   NaN   NaN

[7 rows x 160 columns]